<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{usuario}">Usuário</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{usuario}">Usuário</h4>
			<form action="/usuario" th:action="@{/usuario}" method="post">
				<div class="row">
					<div class="mb-3 col-md-3">
						<label for="matricula" th:text="#{matricula}">Matricula</label> <input
							type="number" class="form-control" id="matricula" name="matricula">
					</div>
					<div class="mb-3 col-md-9">
						<label for="nome" th:text="#{nome}">Nome</label> <input
							type="text" class="form-control" id="nome" name="nome" readonly>
					</div>
				</div>

		<a style="color:white" th:onclick="buscaMatricula(matricula.value)"
			class="btn btn-primary btn-lg btn-block">Buscar</a>
		</form>
		</div>
	</section>
</body>
</html>