<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{usuario.list}">Usuários</title>
</head>
<body>
	<section>
		<h2 th:text="#{usuario.list}">Listagem de Usuários</h2>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr class="table-primary">
						<th th:text="#{nome}">Nome</th>
						<th th:text="#{email}">Email</th>
						<th th:text="#{status}"></th>
						<th th:text="#{perfis}"></th>
						<th th:text="#{editar}"></th>
						<th th:text="#{excluir}"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="usa : ${usuarios}">
						<th th:text="${usa.nome}">Nome</th>
						<td th:text="${usa.email}">Descrição</td>
						<td th:if="${usa.ativo == true}">Ativo</td>
						<td th:unless="${usa.ativo == true}">Desligado</td>
						<td>
							<div>
								<table>
									<tr th:each="perfil : ${usa.roles}">
									<td th:if="${perfil.nomeRole}=='ROLE_LIDER'"><i style="color: #f5d22e;" class="fas fa-crown"></i> Líder</td>
									<td th:if="${perfil.nomeRole}=='ROLE_OPERADOR'"><i style="color: #4E73DF;" class="fas fa-hard-hat"></i> Operador</td>
									<td th:if="${perfil.nomeRole}=='ROLE_ADMIN'"><i style="color: #25ba0e;" class="fas fa-tools"></i> Admin</td>										
								</table>
							</div>
						</td>
						<td><a href="#" th:onclick=" 'editarUsuario('+${usa.id}+')'"><i class="fas fa-edit"></i></a></td>
						<td><a href="#" th:onclick="|window.location.href='usuario/excluir/${usa.id}'|"><i class="fas fa-trash"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>