<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{fases}">Fases</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{fases}">Fases</h4>
			<form action="/fases" th:action="@{/fases}" method="post">
				<div class="row">
					<div class="mb-3 col-md-12">
						<label for="nome" th:text="#{descricao}">Descrição</label> <input
							type="text" class="form-control" id="descricao" name="descricao"
							required>
					</div>
				</div>
				<div class="row">
					<div class="mb-3 col-md-10">
						<label for="tipoRecurso" th:text="#{tipoRecurso}">Tipo
							Recurso</label> <select class="form-control" id="tipoRecurso"
							name="tipoRecurso" required="required">
							<option>Materia-Prima</option>
							<option>Equipamento</option>
							<option>Mao-de-Obra</option>
						</select>
					</div>
					<div class="mb-3 col-md-2">
						<label></label>						
						<a class="btn btn-primary btn-lg btn-block" th:onclick="addRecurso()"><i class="fas fa-plus" style="color:white;"></i><span
							class="spinner-border float-right"
							style="width: 2rem; height: 2rem; display: none;" role="status"
							id="load"></span></a>
					</div>
				</div>

				<button id="salvar" class="btn btn-success btn-lg btn-block"
					type="submit" th:value="${save}">Salvar</button>
				<a href="/lista-fases" th:href="@{/lista-fases}"
					class="btn btn-primary btn-lg btn-block" th:onclick="loading()">Listar<span
					class="spinner-border float-right"
					style="width: 2rem; height: 2rem; display: none;" role="status"
					id="load"></span></a>
			</form>
		</div>
	</section>
</body>
</html>