<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{relatorio}">Relatorio</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{relatorio}">Relatorio</h4>
			<form action="/relatorio" th:action="@{/relatorio}" method="post">					
				<div class="row">
					<div class="mb-3 col-md-12">
						<label for="produtos" th:text="#{produtos}">Produto</label> <select
							class="form-control" id="produtos" name="produtos"
							required="required">
							<option
								th:each="prod : ${produtos}"
								th:value="${prod.codProduto}" th:text="${prod.descProduto}"></option>
						</select>
					</div>
					
					
				
				</div>
				<div class="row">
					<div class="mb-3 col-md-6">
						<label for="dataInicio" th:text="#{dataInicio}">Data Inicio</label> 
						<input type="datetime-local" class="form-control"
								id="dataInicio" name="dataInicio"
								 required>
					</div>
					<div class="mb-3 col-md-6">
						<label for="dataFim" th:text="#{dataFim}">Data Fim</label> <input type="datetime-local" class="form-control"
								id="dataFim" name="dataFim"
								 required>
					</div>					
				</div>		
				<button id="salvar" class="btn btn-success btn-lg btn-block"
					type="submit" th:value="${save}">Salvar</button>
				<a href="/lista-relatorio" th:href="@{/lista-relatorio}"
					class="btn btn-primary btn-lg btn-block" th:onclick="loading()">Listar<span
					class="spinner-border float-right"
					style="width: 2rem; height: 2rem; display: none;" role="status"
					id="load"></span></a>
			</form>
		</div>
	</section>
</body>
</html>