<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{ordem}">Ordem</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{ordem}">Ordem</h4>
			<form action="/ordem" th:action="@{/ordem}" th:object="${produtoOrdem}" method="post">
				<div class="row">
					<div class="mb-3 col-md-2">
						<label for="codOp" th:text="#{codOp}">Código</label> <input
							type="text" class="form-control" id="codOp" name="codOp" th:value="*{ordem.codOp}?:''" readonly>
					</div>	
					<div class="mb-3 col-md-10">
						<label for="status" th:text="#{status}">Status</label>
						<select class="form-control" id="status" name="status" required="required">
						<option th:if="*{ordem.status} == null" th:each="status : ${T(br.com.fatec.sorocaba.controleProducao.model.StatusOp).values()}" th:value="${status}" th:text="${status}"
						></option>
						<option th:unless="*{ordem.status} == null" th:each="status : ${T(br.com.fatec.sorocaba.controleProducao.model.StatusOp).values()}" th:value="${status}" th:text="${status}"
						th:selected="${status == produtoOrdem.ordem.status}"
						></option>
						</select>
					</div>
					
						
				</div>
				<div class="row">
					<div class="mb-3 col-md-10">
						<label for="produto" th:text="#{produto}">Produto
						</label>
						<select class="form-control" id="produto" name="produto" required="required">
							<option th:each="prod : ${produtos}" th:value="${prod.codProduto}" th:text="${prod.descProduto}"></option>
						</select>
					</div>
					<div class="mb-3 col-md-2">
						<label for="produtoOrdem.qtdProd" th:text="#{quantidade}">Quantidade
						</label>
						<input class="form-control" type="number" id="qtdProd" name="qtdProd" required />
						
					</div>
				</div>
				
				<div class="row">
					<div class="mb-3 col-md-6">
						<label for="dataInicio" th:text="#{dataInicio}">Data Inicio</label> <input type="datetime-local" class="form-control"
								id="dataInicio" name="dataInicio"
								th:value="*{ordem.dataInicio}" required>
					</div>
					<div class="mb-3 col-md-6">
						<label for="dataFim" th:text="#{dataFim}">Data Fim</label> <input type="datetime-local" class="form-control"
								id="dataFim" name="dataFim"
								th:value="*{ordem.dataFim}" required>
					</div>					
				</div>		
				
				<div class="row">
					<div class="mb-3 col-md-2">
						<label for="usuario" th:text="#{matricula}">Matricula</label> <input
							type="text" class="form-control" id="usuario" name="usuario" th:value="${usuario.id}?:''"  readonly>
					</div>	
					<div class="mb-3 col-md-10">
						<label for="nomeUsuario" th:text="#{usuario}">Usuario</label> <input
							type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" th:value="${usuario.nome}?:''" readonly>
					</div>	
					
					
							
				</div>
				
				<button id="salvar" class="btn btn-success btn-lg btn-block"
					type="submit" th:value="${save}">Salvar</button>
				<a href="/lista-ordem" th:href="@{/lista-ordem}"
					class="btn btn-primary btn-lg btn-block" th:onclick="loading()">Listar<span
					class="spinner-border float-right"
					style="width: 2rem; height: 2rem; display: none;" role="status"
					id="load"></span></a>
			</form>
		</div>
	</section>
</body>
</html>