<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{ordem.list}">Ordens</title>
</head>
<body>
	<section>
		<h2 th:text="#{ordem.list}">Listagem de Ordens</h2>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr  class="table-primary">
						<th th:text="#{codOp}">Código</th>
						<th th:text="#{status}">Status</th>
						<th th:text="#{produto}">Produto</th>
						<th th:text="#{quantidade}">Quantidade</th>						
						<th th:text="#{dataInicio}" >Data Inicio</th>
						<th th:text="#{dataFim}" >Data Fim</th>
						<th th:text="#{colaborador}">Usuario</th>
						<th th:text="#{editar}">Editar</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="ord : ${ordens}">
						<th th:text="${ord.ordem.codOp}">Código</th>
						<th th:text="${ord.ordem.status}">Status</th>
						<th th:text="${ord.produto.descProduto}">Produto</th>	
						<th th:text="${ord.qtdProd}">Quantidade</th>	
						<th th:text="${#temporals.format(ord.ordem.dataInicio, 'dd/MM/yyyy-HH:mm')}">Data Inicio</th>
						<th th:text="${#temporals.format(ord.ordem.dataFim, 'dd/MM/yyyy-HH:mm')}">Data Inicio</th>	
						<th th:if="${ord.ordem.usuario}==null">Não registrado</th>	
						<th th:unless="${ord.ordem.usuario}==null" th:text="${ord.ordem.usuario.nome}">Usuario</th>		
						<td><a th:onclick="|window.location.href='ordem/editar/${ord.ordem.codOp}'|"><i
									style="color: #4E73DF; cursor: pointer" class="fas fa-edit"></i></a>		

					</tr>
				</tbody>
			</table>
		</div>	
	</section>
</body>
</html>