<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{fases}">Fases</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{fases}">Fases</h4>
			<form action="/fases" th:action="@{/fases}" th:object="${produtoFase}"
				method="post">
				<div class="row">
					<div class="mb-3 col-md-12">
						<label for="produtoFase.produto.descProduto" th:text="#{descProduto}">Produto
						</label> <input class="form-control" id="produtoFase.produto.descProduto" name="produtoFase.produto.descProduto"
							th:value="*{produto.descProduto}" readonly>
					</div>
				</div>
				<div class="row">
					<!-- 					<div class="mb-3 col-md-10"> -->
					<!-- 						<label for="recurso" th:text="#{recurso}">Recurso</label> <select -->
					<!-- 							class="form-control" id="recurso" name="recurso"> -->
					<!-- 							<option -->
					<!-- 								th:each="recurso : ${T(br.com.fatec.sorocaba.controleProducao.model.TipoRecurso).values()}" -->
					<!-- 								th:value="${recurso}" th:text="${recurso}"></option> -->
					<!-- 						</select> -->
					<!-- 					</div> -->

					<!-- 					<div class="mb-3 col-md-10"> -->
					<!-- 						<label for="produtoFase.fase.descricao" th:text="descFase">Fase</label> -->
					<!-- 						<input class="form-control" id="produtoFase.fase.descricao" name="produtoFase.fase.descricao" th:value="*{fase.descricao}"> -->
					<!-- 					</div> -->
					<!-- 					<div class="mb-3 col-md-2">						 -->
					<!-- 						<button id="salvar" class="btn btn-success btn-lg btn-block" -->
					<!-- 					type="submit" th:value="${save}"> <i -->
					<!-- 							class="fas fa-plus" style="color: white;"></i></button> -->

					<!-- 					</div> -->
				</div>				
				<div class="row">
					<div class="mb-3 col-md-12">
						<label for="produtoFase.fase.descricao" th:text="#{descProduto}">Produto
						</label> <input class="form-control" id="produtoFase.fase.descricao" name="produtoFase.fase.descricao"
							th:value="*{fase.descricao}">
					</div>
				</div>
			<button id="salvar" class="btn btn-success btn-lg btn-block"
					type="submit" th:value="${save}">Salvar</button>

			</form>
			
			
					<br>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="table-primary">
							<th th:text="#{codigo}">Código</th>
							<th th:text="#{descricao}">Descrição</th>
							<th th:text="#{MP}">MP</th>
							<th th:text="#{MO}">MO</th>
							<th th:text="#{EQ}">EQ</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="faseProd : ${fasesProduto}">
							<th th:text="${faseProd.codProdutoFase}">Código</th>
							<td th:text="${faseProd.fase.descricao}">Descricao</td>
							<td><a th:onclick="'addMP('+${faseProd.codProdutoFase}+')'"><i
									style="color: #4E73DF; cursor: pointer" class="fas fa-cubes"></i></a></td>
							<td><a th:onclick="'addMO('+${faseProd.codProdutoFase}+')'"><i
									style="color: #4E73DF; cursor: pointer" class="fas fa-male"></i></a></td>
							<td><a th:onclick="'addEQ('+${faseProd.codProdutoFase}+')'"><i
									style="color: #4E73DF; cursor: pointer" class="fas fa-industry"></i></a></td>
									
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>