<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{fases}">Fases</title>
</head>
<body>
	<section>
		<div class="col-md-8 order-md-1">
			<h4 class="mb-3" th:text="#{fases}">Fases</h4>

			<form action="/fases" th:action="@{/fases}" method="post">			
				<div class="row">
					<div class="mb-3 col-md-10">
						<label for="produto" th:text="#{produto}">Produto </label> <select
							class="form-control" id="produto" name="produto"
							required="required">
							<option th:each="prod : ${produtos}"
								th:value="${prod.codProduto}" th:text="${prod.descProduto}"></option>
						</select>
					</div>
					<div class="mb-3 col-md-2">
						<label></label>
						<a class="btn btn-success btn-lg btn-block"
							type="button" th:onclick="produtoFase()">
							<i class="fas fa-eye" style="color: white;"></i><span
								class="spinner-border float-right"
								style="width: 2rem; height: 2rem; display: none;" role="status"
								id="load"></span>
						</a>
					</div>
				</div>
				
			</form>
			
		</div>
	</section>
</body>
</html>