<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{default :: layout(~{::title}, ~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="#{fases.list}">Fases</title>
</head>
<body>
	<section>
		<h2 th:text="#{fases.list}">Listagem de Fases</h2>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr  class="table-primary">
						<th th:text="#{codigo}">Código</th>
						<th th:text="#{descricao}">Descrição</th>
						<th th:text="#{MP}">MP</th>
						<th></th>
						<th></th>

						
					</tr>
				</thead>
				<tbody>
					<tr>
						<th th:text="${fase.numFase}">Código</th>
						<td th:text="${fase.descricao}">Descricao</td>
						<td><a><i class="fas fa-cubes"></i></a></td>
						<td><select class="form-control" id="mps" name="mps" required="required">
							<option th:each="mp : ${mps}" th:value="${mp.cod}" th:text="${mp.descricao}"></option>
						</select></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</section>
</body>
</html>